.notify-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 420px;
  width: 100%;
  bottom: 30px;
  right: 30px;
  margin-right: 35px;
  max-height: 1240px;
}

.notify-item {
  max-width: 410px;
  height: auto;
  padding: 10px 16px;
  margin-bottom: 20px;
  background-color: #d3d3d3f2;
  font-size: 14px;
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 8px;
}

.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;

}

.warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 1px solid #faebcc;
}